<h4 class="font-weight-normal-bold pl-1  mb-0">Latest Announcement</h4>
<div class=" table-sm-height">
<table class="table table-sm table-hover">
  <thead class="table-head-color">
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Time</th>
      <th scope="col">Source</th>
      <th scope="col">Name</th>
      <th scope="col">Announcement</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>December 8, 2020</td>
      <td>00:42</td>
      <td></td>
      <td></td>
      <td>Test Announcement</td>
    </tr>
    <tr>
      <td>December 8, 2020</td>
      <td>00:42</td>
      <td></td>
      <td></td>
      <td>Test Announcement</td>
    </tr> <tr>
      <td>December 8, 2020</td>
      <td>00:42</td>
      <td></td>
      <td></td>
      <td>Test Announcement</td>
    </tr> <tr>
      <td>December 8, 2020</td>
      <td>00:42</td>
      <td></td>
      <td></td>
      <td>Test Announcement</td>
    </tr> <tr>
      <td>December 8, 2020</td>
      <td>00:42</td>
      <td></td>
      <td></td>
      <td>Test Announcement</td>
    </tr> <tr>
      <td>December 8, 2020</td>
      <td>00:42</td>
      <td></td>
      <td></td>
      <td>Test Announcement</td>
    </tr> <tr>
      <td>December 8, 2020</td>
      <td>00:42</td>
      <td></td>
      <td></td>
      <td>Test Announcement</td>
    </tr>
  </tbody>
</table>
</div>
