<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center title-xl">About Us</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p class="p-lg">SearchDigitalCurrency.Com consists of a team to provide a platform for token owners to provide you with key information to speed up your investment decisions. Crypto is experiencing another interest explosion and it is difficult to find information before a token has been launched. we provide that platform for Token Owner’s to bring their concept to the masses. CoinGecko and Coinmarketcap do a great job but a gap they have left out is giving the token owner a platform to edit their information. Most tokens are now launching on telegram and twitter and information like circulating supply, presale price isn’t readily available unless you do your fairbit of research. we provide this key info before the token hit’s the exchanges. CoinGecko and Coinmarketcap list’s tokens when trading begins but we expect token owners to provide you this information before hand and make it visible to you in a instant.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p class="p-lg">Building tools to keep tokens trending is at our core development, currently the only way to shill is on either on twitter or on other telegram groups. Here our target audience are investors interested in the riskier play’s the latest tokens listed that are yet to develop. You may notice we may not have the top 10 tokens by marketcap like Bitcoin, We believe there are over a dozen sites that can provide more accurate and up to date data for these tokens. We provide a page for new tokens to provide basic information for a investor to assess whether to buy or wait. Many tokens listed on Uniswap do not advertise well and list without a website. Those a usually scams. By providing pre-layout there should be no execuse for one not to create a page to introduce a token.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
     <p class="p-lg">
       Benefits we aim to provide:<br/>
    Reduce Scams –  Searchdigitalcurrency.com does not endorse any tokens listed on our site whether they paid ads or not. a current issue is contract addresses. many tokens list with the same token name causing confusion this is in turn loses invetsment for the original token and leaves investors out of pocket. A token with same name cannot be listed on our site, if it does we aim to resolve it right away.
     </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
     <p class="p-lg">
       Live chatroom is a feature we will be introducing soon. Telegram is full of users who want to take advantage of the mis- informed therefofre they pose as someone and end up deceiving investors in sending funds. We aim to remove any user who has this intention by removing similar usernames that can deceive others.
     </p>
   </div>
  </div>
  <div class="row">
    <div class="col-md-12">
     <p class="p-lg">
      Many other features we are working on: 1 click airdrop. News announcement service from 8am-5pm UTC, Real time live data, Token owners can earn revenue from their own listing page. we will later expand this to normal users too. Long term visiion to create a decentralized forum where the community is paid the revenue of the site and governance is applied based on tiers from CEO to admin.
     </p>
   </div>
  </div>
  <div class="row">
    <div class="col-md-12">
     <p class="p-lg">
      We have no token created and do not plan to create one Please be wary of imposters
     </p>
   </div>
  </div>
  <div class="row">
    <div class="col-md-12">
     <p class="p-lg">
      DISCLAIMER:All content provided herein our website, hyperlinked sites, associated applications, forums, blogs, social media accounts and other platforms (“Site”) is for your general information only, procured from third party sources. We make no warranties of any kind in relation to our content, including but not limited to accuracy and updatedness. No part of the content that we provide constitutes financial advice, legal advice or any other form of advice meant for your specific reliance for any purpose. Any use or reliance on our content is solely at your own risk and discretion. You should conduct your own research, review, analyse and verify our content before relying on them. Trading is a highly risky activity that can lead to major losses, please therefore consult your financial advisor before making any decision. No content on our Site is meant to be a solicitation or offer.
     </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
     <p class="p-lg">
      We do not endorse or vet any token listed on searchdigitalcurrency.com advertisements or listings are purely for informational purposes only, please conduct your own research
     </p>
   </div>
  </div>
</div>
