<form [formGroup]="form">
<div class="container body-height">
  <div class="d-flex justify-content-center mt-5 ">
      <mat-card class="mat-elevation-z8 mat-card-width">
      <mat-card-header class="heading-border mb-0 ">
          <mat-card-title class="font-color-weight mb-1" >Login</mat-card-title>
        </mat-card-header>
        <mat-card-content class="mt-3">
          <div class="row">
            <div class="col-md-12">
            <mat-form-field class="material-full-width w-100">
              <mat-label>
                Username / Email
              </mat-label>
              <input formControlName="email" id="email" matInput name="email" placeholder="abc001 / abc@xyz.com" required
                     type="text">
            </mat-form-field>
              </div>
            </div>
          <div class="row">
            <div class="col-md-12">
          <mat-form-field class="material-full-width w-100">
              <mat-label>
                Password
              </mat-label>
              <input formControlName="password" id="password" matInput name="password" placeholder="Password" required
                     type="password">
            </mat-form-field>
               </div>
            </div>
          <div class="row">
            <div class="col-md-12">
          <mat-checkbox formControlName="rememberMe" color="primary">
            Remember me
          </mat-checkbox>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button class="btn w-100 btn-color">Login</button>
        </mat-card-actions>
      </mat-card>
  </div>
</div>
</form>
