<div class="mt-3 table-lg-height ">
<table class="table table-hover table-lg-line-height">
  <thead class="table-head-color ">
    <tr>
      <th scope="col">Token</th>
      <th scope="col">Ticker</th>
      <th scope="col">Price</th>
      <th scope="col">24H Change</th>
      <th scope="col">24H Volume</th>
      <th scope="col">Max/Circulation Supply</th>
      <th scope="col">Marketcap</th>
      <th scope="col">KYC </th>
      <th scope="col">Useful Links</th>
    </tr>
  </thead>
  <tbody>
    <tr class="mb-5  mat-elevation-z4">
      <th scope="row">Glitch Protocol</th>
      <td>GLCH</td>
      <td></td>
      <td>NAN%</td>
      <td>-</td>
      <td>-</td>
      <td></td>
      <td>Public</td>
      <td class="color-blue"><i class="fa fa-twitter"></i>&nbsp; <i class="fa fa-telegram"></i>&nbsp; <i class="fa fa-facebook"></i></td>
    </tr>
    <tr class="mb-5  mat-elevation-z2">
      <th scope="row">Glitch Protocol</th>
      <td>GLCH</td>
      <td></td>
      <td>NAN%</td>
      <td>-</td>
      <td>-</td>
      <td></td>
      <td>Public</td>
      <td class="color-blue"><i class="fa fa-twitter"></i>&nbsp; <i class="fa fa-telegram"></i>&nbsp; <i class="fa fa-facebook"></i></td>
    </tr>
    <tr class="mb-5  mat-elevation-z2">
      <th scope="row">Glitch Protocol</th>
      <td>GLCH</td>
      <td></td>
      <td>NAN%</td>
      <td>-</td>
      <td>-</td>
      <td></td>
      <td>Public</td>
      <td class="color-blue"><i class="fa fa-twitter"></i>&nbsp; <i class="fa fa-telegram"></i>&nbsp; <i class="fa fa-facebook"></i></td>
    </tr>
    <tr class="mb-5  mat-elevation-z2">
      <th scope="row">Glitch Protocol</th>
      <td>GLCH</td>
      <td></td>
      <td>NAN%</td>
      <td>-</td>
      <td>-</td>
      <td></td>
      <td>Public</td>
      <td class="color-blue"><i class="fa fa-twitter"></i>&nbsp; <i class="fa fa-telegram"></i>&nbsp; <i class="fa fa-facebook"></i></td>
    </tr>
    <tr class="mb-5  mat-elevation-z2">
      <th scope="row">Glitch Protocol</th>
      <td>GLCH</td>
      <td></td>
      <td>NAN%</td>
      <td>-</td>
      <td>-</td>
      <td></td>
      <td>Public</td>
      <td class="color-blue"><i class="fa fa-twitter"></i>&nbsp; <i class="fa fa-telegram"></i>&nbsp; <i class="fa fa-facebook"></i></td>
    </tr>
    <tr class="mb-5  mat-elevation-z2">
      <th scope="row">Glitch Protocol</th>
      <td>GLCH</td>
      <td></td>
      <td>NAN%</td>
      <td>-</td>
      <td>-</td>
      <td></td>
      <td>Public</td>
      <td class="color-blue"><i class="fa fa-twitter"></i>&nbsp; <i class="fa fa-telegram"></i>&nbsp; <i class="fa fa-facebook"></i></td>
    </tr><tr class="mb-5  mat-elevation-z4">
      <th scope="row">Glitch Protocol</th>
      <td>GLCH</td>
      <td></td>
      <td>NAN%</td>
      <td>-</td>
      <td>-</td>
      <td></td>
      <td>Public</td>
      <td class="color-blue"><i class="fa fa-twitter"></i>&nbsp; <i class="fa fa-telegram"></i>&nbsp; <i class="fa fa-facebook"></i></td>
    </tr>
    <tr class="mb-5  mat-elevation-z2">
      <th scope="row">Glitch Protocol</th>
      <td>GLCH</td>
      <td></td>
      <td>NAN%</td>
      <td>-</td>
      <td>-</td>
      <td></td>
      <td>Public</td>
      <td class="color-blue"><i class="fa fa-twitter"></i>&nbsp; <i class="fa fa-telegram"></i>&nbsp; <i class="fa fa-facebook"></i></td>
    </tr>
    <tr class="mb-5  mat-elevation-z2">
      <th scope="row">Glitch Protocol</th>
      <td>GLCH</td>
      <td></td>
      <td>NAN%</td>
      <td>-</td>
      <td>-</td>
      <td></td>
      <td>Public</td>
      <td class="color-blue"><i class="fa fa-twitter"></i>&nbsp; <i class="fa fa-telegram"></i>&nbsp; <i class="fa fa-facebook"></i></td>
    </tr>
    <tr class="mb-5  mat-elevation-z2">
      <th scope="row">Glitch Protocol</th>
      <td>GLCH</td>
      <td></td>
      <td>NAN%</td>
      <td>-</td>
      <td>-</td>
      <td></td>
      <td>Public</td>
      <td class="color-blue"><i class="fa fa-twitter"></i>&nbsp; <i class="fa fa-telegram"></i>&nbsp; <i class="fa fa-facebook"></i></td>
    </tr>
    <tr class="mb-5  mat-elevation-z2">
      <th scope="row">Glitch Protocol</th>
      <td>GLCH</td>
      <td></td>
      <td>NAN%</td>
      <td>-</td>
      <td>-</td>
      <td></td>
      <td>Public</td>
      <td class="color-blue"><i class="fa fa-twitter"></i>&nbsp; <i class="fa fa-telegram"></i>&nbsp; <i class="fa fa-facebook"></i></td>
    </tr>
    <tr class="mb-5  mat-elevation-z2">
      <th scope="row">Glitch Protocol</th>
      <td>GLCH</td>
      <td></td>
      <td>NAN%</td>
      <td>-</td>
      <td>-</td>
      <td></td>
      <td>Public</td>
      <td class="color-blue"><i class="fa fa-twitter"></i>&nbsp; <i class="fa fa-telegram"></i>&nbsp; <i class="fa fa-facebook"></i></td>
    </tr>
  </tbody>
</table>
</div>
