<div class="container-fluid mb-4">
<div class="row mt-3">
  <div class="col-md-12">
    <div>
    <app-tba-box></app-tba-box>
    </div>
    <div class=""><app-tba-box class=""></app-tba-box>
  </div>
  </div>
</div>
    <div class="row mt-3">
  <div class="col-md-12">
    <mat-tab-group>
  <mat-tab label="Active Listing"> <app-active-listing></app-active-listing> </mat-tab>
      <mat-tab label="Active Presale"> <app-active-presale></app-active-presale> </mat-tab>
  <mat-tab label="Upcoming Presale "> <app-upcomming-presale></app-upcomming-presale> </mat-tab>
</mat-tab-group>

  </div>
</div>
</div>
