<mat-card class="box p-2 mat-elevation-z4 ml-4">
  <div class="row">
      <div class="col-md-4">
        Logo
      </div>
      <div class="col-md-8">
       <strong>KeeperV1</strong>
      </div>
  </div>
  <div class="row">
      <div class="col-md-4">
      <strong class="color-green">$314.7846931</strong><br/>
        0.23539 ETH
      </div>
      <div class="col-md-8">
        <strong class="color-blue">Market Cap</strong><br/>
        1862266.2444 USD
      </div>
  </div><div class="row">
      <div class="col-md-8">
        <strong class="color-blue">24H Change:</strong> 100 %
      </div>
  </div>
</mat-card>
