<h4 class="font-weight-normal-bold ">Latest Tokens</h4>
<div class="table-fixed-lg">
<table class="table">
  <thead>
    <tr>
      <th scope="col">Token</th>
      <th scope="col">Ticker</th>
      <th scope="col">Price</th>
      <th scope="col">24H Change</th>
      <th scope="col">24H Volume</th>
      <th scope="col">Circulation Supply</th>
      <th scope="col">Marketcap</th>
      <th scope="col">Team</th>
      <th scope="col">Useful Links</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Glitch Protocol</th>
      <td>GLCH</td>
      <td></td>
      <td>NAN%</td>
      <td>-</td>
      <td>-</td>
      <td></td>
      <td>Public</td>
      <td class="color-blue"><i class="fa fa-twitter"></i>&nbsp; <i class="fa fa-telegram"></i>&nbsp; <i class="fa fa-facebook"></i></td>
    </tr>
    <tr>
      <th scope="row">Glitch Protocol</th>
      <td>GLCH</td>
      <td></td>
      <td>NAN%</td>
      <td>-</td>
      <td>-</td>
      <td></td>
      <td>Public</td>
      <td class="color-blue"><i class="fa fa-twitter"></i>&nbsp; <i class="fa fa-telegram"></i>&nbsp; <i class="fa fa-facebook"></i></td>
    </tr>
  <tr>
      <th scope="row">Glitch Protocol</th>
      <td>GLCH</td>
      <td></td>
      <td>NAN%</td>
      <td>-</td>
      <td>-</td>
      <td></td>
      <td>Public</td>
      <td class="color-blue"><i class="fa fa-twitter"></i>&nbsp; <i class="fa fa-telegram"></i>&nbsp; <i class="fa fa-facebook"></i></td>
    </tr>
  </tbody>
</table>
</div>
