<html>
<head></head>
<body>
<div class="container-fluid body-bg">

  <div class="row mt-3">
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 ">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
          <app-risers></app-risers>
        </div>
      </div>
      <div class="row mt-5 mb-5">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
          <app-fallers></app-fallers>
        </div>
      </div>
    </div>
    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 ">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
          <app-latest-tokens></app-latest-tokens>
        </div>
      </div>
      <div class="row mt-5 mb-5">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
          <app-latest-announcements></app-latest-announcements>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
